.movies__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 32px;
  padding: 0 4px;
}

.movies__img {
  object-fit: contain;
  max-width: 183px;
}
.ant-rate-star:not(:last-child) {
  margin-right: 4px !important;
  padding-bottom: 5px;
}
.movies__info {
  position: relative;
  padding: 12px 9px 2px 20px;
  display: flex;
  flex-direction: column;
}

.movies__item {
  display: flex;
  max-width: 454px;
  margin-bottom: 35px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%);
}

.movies__genres {
  display: flex;
  flex-wrap: wrap;
}

.movie-genre {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.65);
  margin-right: 8px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.movies__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: auto;
}
.movies__rate {
  position: absolute;
  top: 12px;
  right: 9px;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid #e9d100;
  border-radius: 50%;
}

.movies__rate--from-zero-to-three {
  border: 2px solid red;
}

.movies__rate--from-three-to-five {
  border: 2px solid orange;
}

.movies__rate--more-than-seven {
  border: 2px solid green;
}
.movies__title {
  max-width: 200px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 7 px;
}

.ant-rate {
  margin-bottom: 10px;
}
.movies__date {
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
  margin-bottom: 9px;
}
